body {
	background-color: rgb(7, 38, 87);
	font-family: montserrat, arial, verdana;
}
.login {
	width: 320px;
	height: 450px;
	background-size: cover;
	margin: 30px auto;
}
h1 {
	color: white;
	text-align: center;
	position: relative;
}

input {
	margin-bottom: 10px;
	width: 98%;
	border: none;
	height: 35px;
	border-radius: 1px;
	background: rgb(5, 26, 61);
}

button {
	cursor: pointer;
	border: none;
	padding: 15px;
	background-color: rgb(72, 116, 215);
	color: white;
	width: 100%;
	border-radius: 5px;
}
